<div class="container text-center">

  <div class="banner">
    <%= image_tag "logo.png" %>
    <h2>Add your doggo</h2>
  </div>
  <div class="form-content">
    <%= render "shared/form_dog", dog: @dogs, for_walk: true %>
  </div>
</div>
