<h2>Dogs#new</h2>
<<<<<<< HEAD
<%= render "shared/form_dog", dog: @dogs, for_walk: true %>
=======
<p>Find me in app/views/dogs/new.html.erb</p>
<%= render "shared/new_dog_form", dog: @dog %>
>>>>>>> 0b5c2b83194930ea4dff7f66806d75a126df08fa
