<div>
  <%= form_with url: walks_path, method: :get, class: "d-flex bar" do %>
    <%= text_field_tag :query,
        params[:query],
        class: "search-bar",
        placeholder: "Where?"%>
    <%= date_field_tag :start_time,
        params[:start_time],
        class: "search-bar-date",
        placeholder: "When do you want to start your walk?"%>
    <%= submit_tag "Search", name: "", class: "btn btn-secondary submit" %>
  <% end %>
</div>
