<!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/8499921/pexels-photo-8499921.jpeg);">
  <div class="container">
    <h1>Dogs our</h1>
    <h3>Walk with me</h3>
    <div class="d-flex">
      <button class="btn btn-light search-bar"></button> <!-- PLACE DE LA SEARCHBAR (class search-bar) -->
      <button class="btn btn-secondary submit">Search</button> <!-- BUTTON SUBMIT DE LA SEARCHBAR (class submit) -->
    </div>
  </div>
</div>

<!-- INTRODUCTION -->
<div class="container introduction">
  <h3>Find your next Dogbuddy near you</h3>
</div>

<!-- MAP -->
<div class="map">
</div>
