
<div class="fix_padding_navbar_bottom">
  <!-- BANNER -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%), url(https://images.pexels.com/photos/8499921/pexels-photo-8499921.jpeg); mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);">
  </div>
    <div class="container content">
      <h1>Dogs our</h1>
      <h3>Walk with me</h3>
  <!-- NAVBAR-->
      <div class="bar">
        <%= render "shared/searchbar" %>
      </div>
    </div>

  <!-- INTRODUCTION -->
  <div class="container introduction">
    <h4>Find your next Dogbuddy near you</h4>
  </div>

  <!-- Walks Cards -->
  <%= render "shared/walk_card_home" %>

  <!-- MAP -->
  <div class="map">
    <div class="container introduction">
      <h4>See all walkers near you</h4>
    </div>
      <div id="map-container" class="rounded shadow map_integration"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>



<!DOCTYPE html>
<html>

<body>
<div id="map"></div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiYW50b2luZWNsYXZlbCIsImEiOiJjbHNpdDFmNDMxem84Mm1taG8wZHZyMGtuIn0.UQ6fpP2Ffm1Mzrwp-lTSGA';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [-24, 42], // starting center in [lng, lat]
        zoom: 1 // starting zoom
    });

    // Add geolocate control to the map.
    map.addControl(
        new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            // When active the map will receive updates to the device's location as it changes.
            trackUserLocation: true,
            // Draw an arrow next to the location dot to indicate which direction the device is heading.
            showUserHeading: true
        })
    );
</script>

</body>
</html>
