<div class="fix-padding-bottom">
  <div class="mx-3">
    <div class="banner text-center">
      <%= image_tag "logo.png" %>
      <h2>Change my information</h2>
    </div>

    <%= render "shared/user_form" %>
  </div>
</div>
