<div class= "img-welcome"><%= image_tag "welcome_background.png" %>
</div>
<div class="welcome-title">
  <h1>DogsOur</h1>
</div>


<div class="wrapper-welcome-button">
  <div class="cadre-jaune">
    <div class="cadre-violet">
      <div class="cadre-noir">
        <a href="<%= new_user_session_path %>">Discorver</a>
      </div>
    </div>
  </div>
</div>
