<div class="margin-bottom">
  <button class="back-arrow"><i class="fa-solid fa-arrow-left"></i></button>
    <div class="container banner">
      <div class="d-flex justify-content-center">
        <%= image_tag "logo.png" %>
      </div>
    <!-- NAVBAR-->
      <div>
        <%= render "shared/searchbar" %>
      </div>
    </div>

  <%= render "shared/walk_card_index" %>
</div>
