<div class="margin-bottom">
  <div class="container banner">
    <!-- BACKARROW -->
    <%= link_to home_path do %>
      <div>
        <button class="back-arrow py-1" >
          <i class="fa-solid fa-arrow-left"></i>
        </button>
      </div>
    <% end %>
    <!-- LOGO -->
    <div class="d-flex justify-content-center">
      <%= image_tag "logo.png" %>
    </div>
    <!-- SEARCHBAR-->
    <div>
      <%= render "shared/searchbar" %>
    </div>
  </div>
  <%= render "shared/walk_card_index" %>
</div>
