<h1>Walks#index</h1>
<p>Find me in app/views/walks/index.html.erb</p>

<div id="map-container" class="rounded shadow map_integration"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
