
    <% if @user_has_dog %>
    <div class= "fix_padding_navbar_bottom">
      <div class="container text-center">
        <div class="banner">
          <%= image_tag "logo.png" %>
          <h2>Create a walk</h2>
        </div>
        <div class="form-content">
          <%= render "shared/form_walk", walks: @walks, for_walk: true %>
        </div>
      </div>
    </div>
    <% else %>

    <div class= "fix_padding_navbar_bottom">
      <div class="container text-center">
        <div class="banner">
          <%= image_tag "logo.png" %>
          <h2> Sorry, you can't create a walk without a dog </h2>
        </div>
        <div class="btn">
          <%= link_to "Add my dog", new_dog_path %>
      </div>
    </div>


    <% end %>
