<h1>Walks#show</h1>


<div id="map-container" class="rounded shadow map_integration"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<% if policy(@walk).edit? %>
<div>
  <%= link_to "Edit", edit_walk_path, class: "btn btn-outline-warning"%>
</div>
<% end %>
<% if policy(@walk).destroy? %>
<div>
  <%= link_to walk_path(@walk), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-outline-danger" do  %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>
<% end %>
