.back-arrow {
  border: none;
  background-color: unset;
  font-size: 30px;
  margin: 0 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.back-arrow-msg {
  border: none;
  background-color: unset;
  font-size: 30px;
  margin: 0 10px;
}

.back-arrow-show {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background-color: unset;
  font-size: 30px;
  margin: 0 10px;
}

.fa-solid.fa-arrow-left {
  color: black !important;
}
