.back-arrow {
  position: absolute;
  top: 0;
  border: none;
  background-color: unset;
  font-size: 30px;
  margin: 1em 1em 0 1em;
}

.bacground-back-arrow {
 background-color: #5C6CFF;
 border-radius: 10px;
 margin-top: 15px;
}
