.back-arrow {
  border: none;
  background-color: unset;
  font-size: 30px;
  margin: 0 10px;
}

.back-arrow-show {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background-color: unset;
  font-size: 30px;
  margin: 0 10px;
}

.bacground-back-arrow {
  background-color: #5C6CFF;
  border-radius: 10px;
  max-width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  left: 10px
}

.fa-solid.fa-arrow-left {
  color: black !important;
}
