.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin-top: 2em;

  p{
  text-decoration: none;
    }
}

.flex-center p {
  color: black;
  font-weight: 300;
  text-decoration: underline;
}

.profile-icone-head {
  position: relative;
  padding: 2em;
  background-image: url("logo.png");
  background-color: #F1EAFF;
  background-position: center;
  display: flex;
  justify-content: center;
  border-radius: 0 0 48px 48px;
  z-index: 5;

  .profile {
    height: 180px;
    width: 180px;
    border: solid 3px white;
  }

  .dog {
    width: 60px;
    height: 60px;
    border: solid 2px white;
    position: absolute;
    top: 130px;
    right: 8px;
  }

  p {
    position: relative;
    right: 0px;
  }
}

.fa-pen-to-square {
  font-size: 20px;
}

.dashboard-name {
  font-size: 2em;
  margin-bottom: 0;
}
.user-info-dashboard {
  position: relative;
  justify-content: center;
  border-radius: 0 0 24px 24px;
  padding: 0.5em;
  padding-top: 3em;
  background-color: #FFFF82;
  color: black;
  box-shadow: 0px 0px 4px grey;
  align-items: center;
  top: -45px;
  z-index: 4;

  .modify-profile{
    width: 0;
  }

  p {
    position: relative;
  }

  i {
    position: relative;
    top: 0px;
    right: -70px;
    color: black;
  }
}

.walk-card-home.dashfit{
  padding-bottom: 5em;
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
}

.walk-card.dashcard {
  width: 188px;

  .avatar-name img {
    left: 142px;
  }
}

.fa-power-off {
  font-size: 24px;
  padding: 1em;
  background-color: black;
  color: white;
  border-radius: 50%;
}
.timeline {
  background: var(#FFFF82);
  margin: 20px auto;
  padding: 20px;
}

.t-outer {
  border-left: 6px solid #5C6CFF;
}

.t-card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  background: white;
  color: black;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 0 0 2px grey;
}

.t-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #FFFF82;
  border-radius: 999px;
  left: -35px;
  border: 3px solid #5C6CFF;
}
