.avatar-name-messagerie {
  img {
    height: 60px;
    border-radius: 50%;
  }
}

.container-messages {
  margin: 1em;
  padding: 1em;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;

  .info-message {
    padding-left: 1em;
  }

  p {
    margin-bottom: 0px;
    color: grey;
  }

  h2 em {
    font-size: 14px;
  }

  i {
    font-size: 20px;
    color: black;
    margin-right: 1em;
  }

.empty-container {
  text-align: center;
  padding-top: 50px;
  color: #5C6CFF;
}

.walk-title {
  font-weight: bold;
  font-weight: 16px;
  color: black;
  }
  h4 {
    text-decoration: none;
    color:#5C6CFF;
  }
  h5 {
    text-decoration: none;
    color:#5C6CFF;
    margin-bottom: 0px !important;
  }
}

.line-separator {
  border-bottom: solid 1px #5C6CFF;
  padding-bottom: 1em;
  margin-left: 3em;
  margin-right: 3em;
}
