.avatar-name-info img {
  height: 35px;
  border-radius: 50%;
  margin-bottom: -36px;
  background: #FFF;
  box-sizing: border-box;
  border: 2px solid #FFF;
  position: relative;
  top: -25px;
  left: 165px;
}
