.logo {
  margin-top: 4em;
}

.form-actions {
  border-radius: 4px;
  background-color: grey;
  padding: 0.25em;
}

.btn {
  color: white;
}

.forgotten-element {
  text-decoration: none;
  color: grey;
  margin-top: 2em;
}

.no-account {
  margin-top: 2em;
}


.sign-up a {
  text-decoration: none;
  color: grey;
  padding-block: 0.5em;
  padding-inline: 3em;
  border: solid 1px grey;
  border-radius: 4px;
}

.forgotten {
  margin-top: 2em;
}

.forgotten a {
  color: grey;
}
