.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  background-color: transparent !important;
}

.mapboxgl-popup-close-button {
  right: 22px !important;
  top: 37px !important;
  background-color: white !important;
  border-radius: 50% !important;
  height: 22px !important;
  width: 22px !important;
  font-size: 17px !important;
}

a:-webkit-any-link:focus-visible {
  outline: none !important;
}

.mapboxgl-popup-tip {
  border: 0px solid transparent !important;
}
