.send-button {
  background-color: #5C6CFF;
  color: white;
  border: none;
  border-radius: 12px;
}

.messages {
  border-top: solid 1px grey;

  small {
    color: black;
    margin-top: 1em;
  }

  .user-message {
    p {
      background-color: #5C6CFF;
      padding-inline: 1em;
      padding-block: 0.25em;
      width: max-content;
      border-radius: 12px;
      margin-bottom: 2em;
      margin-top: 0.5em;
      margin-left: auto;
      color: #FFFF82;
    }
  }
}

.avatar-messaging {
  align-items: center
}

.avatar-messaging img {
  height: 35px;
  border-radius: 50%;
  background: #FFF;
  box-sizing: border-box;
  border: 2px solid #FFF;
}

.message-member {
  p {
    background-color: #FFFF82;
    color: #5C6CFF;
    padding-inline: 1em;
    padding-block: 0.25em;
    width: max-content;
    border-radius: 12px;
    margin-bottom: 2em;
    margin-top: 0.5em;
  }
}

.background-color {
  background-color: #F1EAFF;
}

.title-message {
  text-align: center;
  color: #5C6CFF;
  background-color: #F1EAFF;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px !important;
}
