.navbar-bottom {
  border-radius: 50px 50px 0 0;
  font-size: 34px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #5C6CFF;
  border-top: solid 1px white;/* Change the background color as needed */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* This spreads out the logos evenly */
  align-items: center;
  height: 80px; /* Adjust height as needed */
  z-index: 1000;
  justify-items: center; /* Ensures navbar stays on top of other content */
}

.navbar-bottom a {
  color: white; /* Change text color as needed */
  text-decoration: none; /* Removes underline from links */
}

.navbar-bottom img {
  width: 40px; /* Adjust the size of your logos as needed */
  height: auto;
}

.navbar-bottom p {
  font-size: 8px;
  margin-top: 1em;
}

.navbar-bottom .fa-solid {
  text-align: center;
}

.add-new-walk {
  color: #FFFF82;
  font-size: 80px;
  border: #5C6CFF;
  position: absolute;
  bottom: 0%;
  right: 40%;

}
.fa-circle-plus {
  background-color: #5C6CFF;
  border: solid #5C6CFF 4px;
  border-radius: 50%;
}
