.navbar-bottom {
  border-radius: 50px 50px 0 0;
  font-size: 34px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #5C6CFF;
  border-top: solid 1px white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  height: 80px;
  z-index: 1000;
  justify-items: center;
}

.navbar-bottom a {
  color: white;
  text-decoration: none;
}

.navbar-bottom img {
  width: 40px;
  height: auto;
}

.navbar-bottom p {
  font-size: 8px;
  margin-top: 1em;
}

.navbar-bottom .fa-solid {
  text-align: center;
}

.add-new-walk {
  color: #FFFF82;
  font-size: 80px;
  border: #5C6CFF;
  position: absolute;
  bottom: 0%;
  right: 40%;

}
.fa-circle-plus {
  background-color: #5C6CFF;
  border: solid #5C6CFF 4px;
  border-radius: 50%;
}
