.navbar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Change the background color as needed */
  display: flex;
  justify-content: space-around; /* This spreads out the logos evenly */
  align-items: center;
  height: 60px; /* Adjust height as needed */
  z-index: 1000; /* Ensures navbar stays on top of other content */
}

.navbar-bottom a {
  color: white; /* Change text color as needed */
  text-decoration: none; /* Removes underline from links */
}

.navbar-bottom img {
  width: 40px; /* Adjust the size of your logos as needed */
  height: auto;
}
