.new-dog-font {
  font: #4E6E91;
}


.new-dog-name {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}


.new-dog-avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.center-text {
  text-align: center;
}
