.bar {
  height: 36px;

  .search-bar {
    width: 100%;
    border-radius: 24px 0 0 24px;
    font-size: 15px;
    height: 36px;
    border: none;
    padding: 0.75em;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  }

  .submit {
    border-radius: 0 24px 24px 0;
    padding-block: 0;
    background-color: #5C6CFF;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  }

  .search-bar-date {
    font-size: 15px;
    height: 36px;
    border: none;
    padding: 0.75em;
    color: grey;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  }

  .search-field{
    position: relative;
    z-index: 1;
  }

  .mapboxgl-ctrl-geocoder {
    width:200px;
  }

  .mapboxgl-ctrl-geocoder--input {
    width: 100%;
    font-size: 15px;
    border-radius: 24px 0 0 24px;
    height: 36px;
    padding-left: 20px;
    border: none;
    color: grey;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    outline:none;
  }

  .mapboxgl-ctrl-geocoder--powered-by {
    display:none !important;
  }

  .suggestions-wrapper {
    width: 286px;
  }

  .suggestions-wrapper, .suggestions, li {
    padding-left: 15px;
  }

  .suggestions {
    list-style: none;
    padding-left: 0;
    li {
      color: grey;
      background-color: white;
    }
  }

  .mapboxgl-ctrl-geocoder--pin-right {
    display: none;
  }

  .mapboxgl-ctrl-geocoder--button {
    display: none;
  }

  .mapboxgl-ctrl-geocoder--icon {
    display: none;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    display: none;
  }
}
