.dog-pic img {
  position: relative;
  top: 0px;
  height: 300px;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  border-radius: 0 0 24px 24px;
}

.banner-index p {
  position: absolute;
  top: 26px;
  right: 16px;
  border: solid 1px grey;
  border-radius: 24px;
  padding-block: 0.5em;
  padding-inline: 0.75em;
  background-color: rgba(241, 234, 255, 0.7);
}

.avatar-name-show {
  position: relative;
  img {
    position: absolute;
    height: 5em;
    top: -12px;
    left: 280px;
    border: solid 3px #FFFF82;
  }
}

.show-content {
  padding: 1em;
  position: relative;
  top: -60px;
  padding-bottom: 2em;

  .name-dog-owner {
    display: flex;
    align-items: baseline;
  }

  .name-dog-owner h2 {
    font-size: 2em;
  }

  .walk-description {
    border-top: solid 1px grey;
    padding-top: 1em;
  }


  .info-dog {
    display: flex;
    font-size: 14px;
  }
}
.map-vision {
  text-align: center;
  margin-top: 3em;
  h2 {
    margin-bottom: 1em;
  }
}

.dog-size {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding-block: 0.5em;
  padding-inline: 0.5em;
  border-radius: 48px;
  background-color: #FFFF82;
}

.dog-breed {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-left: 1em;
  padding-block: 0.5em;
  padding-inline: 0.5em;
  border-radius: 48px;
  color: white;
  background-color: #5C6CFF;
}

.walk {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.wrapper-bkrequest-button {
  position: absolute;
  left: -10px;
  bottom: 90px;
  button {
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
  }
}


.img-logo {
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
  height: 73.5px;
  width: 70px;
}

.name-walk {
  text-align: left;
  font-size: larger;
  font-weight: bold;
}


.cadre-jaune-on-show {
  height: 70px;
  width: 185px;
  border-radius: 24px;
  left: 122px;
  top: 80px;
  position:absolute;
  background-color: #FFFF82;
  padding-block: 1em;
  padding-inline: 2em;
}

.cadre-violet-on-show {
  border-radius: 24px;
  width: 185px;
  height: 70px;
  right: 8px;
  bottom: 14px;
  position:absolute;
  background-color: #5C6CFF;
  padding-block: 1em;
  padding-inline: 2em;
}

.cadre-noir-on-show {
  border-radius: 24px;
  position: absolute;
  border: solid 3px black;
  padding-block: 1em;
  padding-inline: 2em;
  text-align: center;
  height: 70px;
  width: 185px;
  right: -4px;
  top: 8px;

  a {
    text-decoration: none;
    color: #F1EAFF;
    font-size: 18px;
  }

  button {
    font-size: 18px;
    font-weight: normal;
  }
}
