.wrapper-index {
  display: grid;
  grid-gap: 20px; /* Adjust the space between cards */
  grid-template-columns: 1fr 1fr; /* Creates a responsive card layout */
}

.walk-card {
  margin-top: 20px;
  background: #FFF; /* Adjust to your desired card background color */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out; /* Smooth transformation on hover */
}

.walk-card:hover {
  transform: translateY(-10px); /* Raises the card slightly on hover */
}

.avatar-name img {
  height: 50px; /* Adjust to fit your design */
  border-radius: 50%;
  margin-bottom: -36px; /* Half the image height to overlay it on the card content */
  background: #FFF; /* Adjust to the background of the content area */
  box-sizing: border-box;
  border: 4px solid #FFF; /* Adjust to your card's background color */
  position: relative;
  z-index: 10;
}

.walk-card-content {
  background: #F4F4F9; /* Adjust to your content area background color */
  border-radius: 20px;
  padding-top: 40px; /* Pushes the content down to make space for the avatar */
  text-align: center; /* Centers the text if you prefer */
}
