.wrapper-index {
  margin-inline: 0.25em;
  display: grid;
  grid-gap: 0px; /* Adjust the space between cards */
  grid-template-columns: 1fr 1fr; /* Creates a responsive card layout */
}

.walk-card-home {
  overflow-x: scroll;
  white-space: nowrap;
  margin-left: 0.5em;
}

.walk-card {
  height: 270px;
  width: 185px;
  margin-top: 20px;
  margin-bottom: 1em;
  margin-inline: 0.5em;
  background: #FFF; /* Adjust to your desired card background color */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);

  .container-dog-photo {
    position: relative;
    height: 160px;
    width: 185px;
  }

  p {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 1em;
    color: black;
  }

  h2{
    font-size: 18px;
    color: black;
    margin-left: 0.5em;
    position: relative;
    top: -0.75em;
  }

  .dog-name {
    position: absolute;
    top: 25px;
    left: -3px;
  }
}

.avatar-name img {
  height: 35px; /* Adjust to fit your design */
  border-radius: 50%;
  margin-bottom: -36px; /* Half the image height to overlay it on the card content */
  background: #FFF; /* Adjust to the background of the content area */
  box-sizing: border-box;
  border: 2px solid #FFF; /* Adjust to your card's background color */
  position: relative;
  top: -25px;
  left: 145px;
}

.walk-card-content {
  background: #F4F4F9; /* Adjust to your content area background color */
  border-radius: 20px;
  position: relative;
}

.fix_padding_navbar_bottom {
  padding-bottom: 80px;
}

.container-dog-photo p {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 30px;
  border: grey solid 1px;
  padding-inline: 0.5em;
  padding-block: 0.25em;
  font-size: 9px;
  background-color: #F4F4F9;
}

.info-walk-card {
  height: 70px;
  overflow: auto;
  padding-top: 0.5em;
  .info-walk-address {
    width: 160px;
    white-space: break-spaces;
  }
}

.avatar-name {
  height: 40px;
}

a {
  text-decoration: none;
}

.container-dog-photo img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.container-index {
  --bs-gutter-x: 0.5rem;
}
