.wrapper-index {
  display: grid;
  grid-gap: 20px; /* Adjust the space between cards */
  grid-template-columns: 1fr 1fr; /* Creates a responsive card layout */
}

.walk-card {
  height: 270px;
  width: 185px;
  margin-top: 20px;
  background: #FFF; /* Adjust to your desired card background color */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;/* Smooth transformation on hover */

  .container-dog-photo {
    position: relative;
    height: 160px;
  }

  p {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 1em;
    color: black;
  }

  h2{
    color: black;
    margin-left: 0.5em;
    position: relative;
    top: -0.75em;
  }
}

.avatar-name img {
  height: 35px; /* Adjust to fit your design */
  border-radius: 50%;
  margin-bottom: -36px; /* Half the image height to overlay it on the card content */
  background: #FFF; /* Adjust to the background of the content area */
  box-sizing: border-box;
  border: 2px solid #FFF; /* Adjust to your card's background color */
  position: relative;
  top: -25px;
  left: 145px;
}

.walk-card-content {
  background: #F4F4F9; /* Adjust to your content area background color */
  border-radius: 20px;
}

.fix_padding_navbar_bottom {
  padding-bottom: 80px;
}

.container-dog-photo p {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 30px;
  border: grey solid 1px;
  padding-inline: 0.5em;
  padding-block: 0.25em;
  font-size: 9px;
  background-color: #F4F4F9;
}

.info-walk-card {
  height: 170px;
}

.avatar-name {
  height: 40px;
}

a {
  text-decoration: none;
}


.container-dog-photo img {
  height: 160px;
  width: 260px;
}
