.welcome-title {
  text-align: center;
  h1 {
    font-size: 80px;
    color: black;
    position: relative;
    left: -100%;
    animation: slideIn 2s ease-out forwards;
  }

  h3 {
    color: black;
    margin-bottom: -2em;
    position: relative;
    left: 100%;
    animation: slideIn 2s ease-out forwards;
  }

  @keyframes slideIn {
    to {
      left: 0;
    }
  }
}

.img-welcome {
  position: relative;
  .mithosis-yellow {
    position: absolute;
    z-index: -1;
    top: 5em;
    left: 5em;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-name: glissement;
    animation-iteration-count: infinite;
  }

  .mithosis-black {
    position: absolute;
    top: 5em;
    left: 4em;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-name: glissement;
    animation-iteration-count: infinite;
  }

  @keyframes glissement {
    from {
      margin-left: 2%;
      width: 0%;
    }

    to {
      margin-left: -2%;
      width: 0%;
    }
  }
}

.wrapper-welcome-button {
  position: relative;
  justify-content: center;
  top: 100%;
  animation: slideIn 2s ease-out forwards;
}

.cadre-jaune {
  height: 85px;
  width: 220px;
  border-radius: 24px;
  top: 95px;
  left: 107px;
  position:absolute;
  background-color: #FFFF82;
  padding-block: 1em;
  padding-inline: 2em;
}

.cadre-violet {
  border-radius: 24px;
  width: 220px;
  height: 85px;
  bottom: 20px;
  right: 17px;
  position:absolute;
  background-color: #5C6CFF;
  padding-block: 1em;
  padding-inline: 2em;
}

.cadre-noir {
  border-radius: 24px;
  position: absolute;
  border: solid 3px black;
  padding-block: 1em;
  padding-inline: 2em;
  text-align: center;
  height: 85px;
  width: 220px;
  top: 11px;
  right: -9px;

  a {
    text-decoration: none;
    color: #F1EAFF;
    font-size: 18px;
    font-weight: bolder;
  }
}

body {
  background-color: #F1EAFF;
}
